/__pycache__
words/__pycache__/
sufixesAndVocals/__pycache__/
malenciano-translator/__pycache__
malenciano_translator/sufixesAndVocals/__pycache__
malenciano_translator/words/__pycache__/
malenciano_translator/__pycache__/
